# Node modules
node_modules/


# Django static files
staticfiles/

# Python cache and environment
__pycache__/
*.py[cod]
*.sqlite3
.env
.pytest_cache

# Virtual environment
venv/

# coverage files
.coverage
.coveragerc