tzdata
pyasn1_modules
python-ipware
inflection
pandas
whitenoise
constantly
requests-oauthlib
django-allauth
pluggy
djangorestframework
pyasn1
django-ipware
oauthlib
pycparser
pytz
txaio
openpyxl
pytest-factoryboy
iniconfig
et-xmlfile
django-htmx
django-cleanup
django-admin-honeypot-updated-2021
