@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* light theme */
    --color-surface: var(--color-white);
    --color-surface-alt: var(--color-neutral-50);
    --color-on-surface: var(--color-neutral-600);
    --color-on-surface-strong: var(--color-neutral-900);
    --color-primary: var(--color-black);
    --color-on-primary: var(--color-neutral-100);
    --color-secondary: var(--color-neutral-800);
    --color-on-secondary: var(--color-white);
    --color-outline: var(--color-neutral-300);
    --color-outline-strong: var(--color-neutral-800);

    /* dark theme */
    --color-surface-dark: var(--color-neutral-950);
    --color-surface-dark-alt: var(--color-neutral-900);
    --color-on-surface-dark: var(--color-neutral-300);
    --color-on-surface-dark-strong: var(--color-white);
    --color-primary-dark: var(--color-white);
    --color-on-primary-dark: var(--color-black);
    --color-secondary-dark: var(--color-neutral-300);
    --color-on-secondary-dark: var(--color-black);
    --color-outline-dark: var(--color-neutral-700);
    --color-outline-dark-strong: var(--color-neutral-300);

    /* shared colors */
    --color-info: var(--color-sky-500);
    --color-on-info: var(--color-white);
    --color-success: var(--color-green-500);
    --color-on-success: var(--color-white);
    --color-warning: var(--color-amber-500);
    --color-on-warning: var(--color-white);
    --color-danger: var(--color-red-500);
    --color-on-danger: var(--color-white);

    /* border radius */
    --radius-radius: var(--radius-sm);
}

[x-cloak] { 
    display: none !important; 
}
h1 {
    @apply text-4xl font-bold mb-4
}
h2 {
    @apply text-xl font-bold mb-2
}
p {
    @apply mb-4
}

.allauth content a {
    @apply underline underline-offset-2
}
.allauth content a:hover {
    @apply text-indigo-500
}
.allauth form[action="/accounts/signup/"] ul {
    @apply hidden
}
.allauth form[action="/accounts/signup/"] ul.errorlist {
    @apply block
}
.allauth .helptext {
    @apply block mt-4
}
.allauth form > button{
    @apply whitespace-nowrap rounded-radius bg-danger border border-danger px-4 py-2 text-sm font-medium tracking-wide text-on-danger transition hover:opacity-75 text-center cursor-pointer focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-danger active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-danger dark:border-danger dark:text-on-danger dark:focus-visible:outline-danger
}
input[type=file] {
    @apply bg-white pl-0
}
.textarea, textarea, input {
    @apply w-full rounded-lg py-4 px-5 bg-gray-100
}
.errorlist li {
    @apply p-1 pl-4 border-l-red-500 border-l-4 border-solid mb-2 text-red-500
}
label[for="id_remember"] {
    @apply inline-block w-auto mr-2
}
input[name="remember"] {
    @apply w-auto
}
.alert-info { @apply bg-blue-300 }
.alert-success { @apply bg-green-400 }
.alert-warning { @apply bg-amber-400 }
.alert-danger { @apply bg-amber-500 }