{% extends 'layouts/box.html' %}

{% block content %}

<h1 class="mb-8 text-on-surface">Account Settings</h1>

<table class="w-full text-sm text-left text-gray-500">
    <tbody>
        {% comment %} {% if form_error %}
        {{form_error}}
        {% endif %} {% endcomment %}
        {% if email_form.errors %}
            <ul class="errorlist">
                {% for field_errors in email_form.errors.values %}
                    {% for error in field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% elif username_form.errors %}
            <ul class="errorlist">
                {% for field_errors in username_form.errors.values %}
                    {% for error in field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <tr class="border-b">
        {% if username_form %}
            <th scope="row" class="pt-4 pb-4 text-base font-bold text-on-surface">
                Username
            </th>
            <td id="username" class="pt-4 pb-4 px-6">
                <form action="{% url 'a_account:profile-username-edit' %}" method="post" class="flex gap-2 text-black" autocomplete="off">
                    {% csrf_token %}
                    {% for field in username_form %}{{ field }}{% endfor %}
                    <button class="block whitespace-nowrap rounded-radius bg-primary border border-primary px-4 py-2 text-sm font-medium tracking-wide text-on-primary transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-primary-dark dark:border-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark" type="submit">Submit</button>
                </form>
            </td>
            <td class="pt-4 pb-5 px-6">
                <a href="{% url 'a_account:profile-settings' %}" class="font-medium text-blue-600 hover:underline">
                    Cancel
                </a>
            </td>
        {% else %}
            <th scope="row" class="pt-4 pb-4 text-base font-bold text-on-surface">
                Username
            </th>
            <td id="username" class="pt-4 pb-4 px-6">
                {{ user.username }}
            </td>
            <td class="pt-4 pb-5 px-6">
                <a id="username-edit" 
                    class="font-medium text-blue-600 hover:underline cursor-pointer"
                    hx-get="{% url 'a_account:profile-username-edit' %}"
                    hx-target="#username"
                    hx-swap="innerHTML"
                >
                    Edit
                </a>
            </td>
        {% endif %}
        </tr>
        
        <tr {% if email_form %} class="border-b" {% endif %}>
        {% if email_form %}
            <th scope="row" class="pt-4 pb-1 text-base font-bold text-on-surface">
                Email address
            </th>
            <td id="email-address" class="pt-4 pb-1 px-6">
                <form action="{% url 'a_account:profile-emailchange' %}" method="post" class="flex gap-2 text-black" autocomplete="off">
                    {% csrf_token %}
                    {% for field in email_form %}{{ field }}{% endfor %}
                    <button class="block whitespace-nowrap rounded-radius bg-primary border border-primary px-4 py-2 text-sm font-medium tracking-wide text-on-primary transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-primary-dark dark:border-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark" type="submit">Submit</button>
                </form>
            </td>
            <td class="pt-4 pb-1 px-6">
                <a href="{% url 'a_account:profile-settings' %}" class="font-medium text-blue-600 hover:underline">
                    Cancel
                </a>
            </td>
        {% else %}
        
            <th scope="row" class="pt-4 pb-1 text-base font-bold text-on-surface">
                Email address
            </th>
            <td id="email-address" class="pt-4 pb-1 px-6">
                {% if user.email %}{{ user.email }}{% else %}No Email{% endif %}
            </td>
            <td class="pt-4 pb-1 px-6">
                <a id="email-edit" 
                    class="font-medium text-blue-600 hover:underline cursor-pointer"
                    hx-get="{% url 'a_account:profile-emailchange' %}"
                    hx-target="#email-address"
                    hx-swap="innerHTML"
                >
                    Edit
                </a>
            </td>
        </tr>
        <tr class="border-b">
            <th scope="row" class="pb-4 font-medium text-gray-900">  
            </th>
            <td class="px-6 pb-4">
                {% if user.emailaddress_set.first.verified %}
                <span class="text-green-500">Verified</span>{% else %}
                <span class="text-amber-500">Not verified</span>
                {% endif %}
            </td>
            <td class="px-6 pb-4">
                <a href="{% url 'a_account:profile-emailverify' %}" class="font-medium text-blue-600 hover:underline">
                    {% if not user.emailaddress_set.first.verified %}Verify{% endif %}
                </a>
            </td>
        </tr>
        {% endif %}
        <tr class="border-b">
            <th scope="row" class="py-4 text-base font-bold text-on-surface">
                Deactivate Account
            </th>
            <td class="px-6 py-4">
                Once deactivated, you can no longer access the site unless reactivated.
            </td>
            <td class="px-6 py-4">
                <a href="{% url 'a_account:profile-deactivate-view' %}" class="font-medium text-red-600 hover:underline">
                    Deactivate
                </a>
            </td>
        </tr>
    </tbody>
</table>


{% endblock %}